body {
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; 
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    overflow: hidden;
}


