body {
    font-family: "HandJet", sans-serif;
    font-size: 40px;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    overflow: hidden;
}
